<div class="row">
  <div class="col-lg-12 profile-row container-fluid">
    <div class="col-md-2 col-md-offset-2 center">
      <!-- Hardcoded for now, should be user.profilePic -->
      <% if (user.profilePic) { %>
        <img class="profile-image" src="<%= user.profilePic %>" alt="default profile">
      <% } else { %>
        <img class="profile-image" src="/images/default-avatar.png" alt="default profile">
      <% } %>
    </div>
    <div class="col-md-4 center profile-info">
      <h2><%= user.username %></h2>
      <p><%= user.zipCode %></p>
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <h2>All Favorites</h2>
    <!-- Conditionally show most recent starred -->
    <% if (user.movies.length == 0 && user.restaurants.length == 0) { %>
      <p>You have no favorites,
         to start liking dinners or movies click on the star
         icon after rolling a random date!</p>
    <% }%>
    <button class="btn">Back To Preferences</button>
  </div>
</div>
