<div class="row">
  <div class="container">
      <div class="col-md-12 col-centered main text-center">
        <div class="col-md-6 text-center dinner-div">
          <h2>Dinner</h2>
<<<<<<< HEAD
          <img class="question-img" src="/images/question-mark.png" alt="question-mark">
        </div>
        <div class="col-md-6 text-center movie-div">
          <h2>Movie</h2>
          <img class="question-img" src="/images/question-mark.png" alt="question-mark">
=======
          <h3 class="restaurant-name"></h3>
          <img class="dinner-img" src="/images/question-mark.png" alt="question-mark">
        </div>
        <div class="col-md-6 text-center movie-div">
          <h2>Movie</h2>
          <h3 class="movie-title"></h3>
          <img class="movie-img" src="/images/question-mark.png" alt="question-mark">
>>>>>>> 0417dfef0f00aa58b5c6c330f3a4104d539f7d73
        </div>
        <select class="foodSelect" name="">
          <option value="american">American</option>
          <option value="thai">Thai</option>
          <option value="pizza">Pizza</option>
          <option value="burger">Burgers</option>
        </select><br>
      </div>
  </div>
</div>

<script type="text/javascript">
  var $mainDiv = $('.main')
  var $dinnerDiv = $('.dinner-div')
  var $movieDiv = $('.movie-div')
  var $inputDiv = $('.input-div')
  var $zipInput = $('<input type="text" placeholder="Zip Code" class="zipInput"></input><br>')
  var $randomButton = $('<button class="btn">Random Date</button>')
<<<<<<< HEAD
  var $favoriteThisDinner = $("<span id='faveDinner' class='glyphicon glyphicon-star-empty'></span>")
  var $favoriteThisMovie = $("<span id='faveMovie' class='glyphicon glyphicon-star-empty'></span>")
=======
  var $dinnerImg = $('.dinner-img')
  var $movieImg = $('.movie-img')
  var $restaurantName = $('.restaurant-name')
  var $movieTitle = $('.movie-title')
  // if user clicks on random...
  // var $favoriteThisDinner = $("<span id='faveDinner' class='glyphicon glyphicon-star-empty'></span>")
  // var $favoriteThisMovie = $("<span id='faveMovie' class='glyphicon glyphicon-star-empty'></span>")
  // $dinnerDiv.append($favoriteThisDinner)
  // $movieDiv.append($favoriteThisMovie)
>>>>>>> 0417dfef0f00aa58b5c6c330f3a4104d539f7d73
  $mainDiv.append($zipInput) // to get val do $zipInput.val()
  $mainDiv.append($randomButton)
  $favoriteThisDinner.on('click', function() {
    console.log(this)
  })
  $randomButton.on('click', function() {
    // animate
    $.ajax({
      url: '/random?zipCode=' + $zipInput.val()/* + '&foodType='*/
    })
    .done(function(data) {
      console.log(data)
<<<<<<< HEAD
      $dinnerDiv.append($favoriteThisDinner)
      $movieDiv.append($favoriteThisMovie)
=======
      var random = Math.floor((Math.random()*data.searchResult.length)+ 1)
      var randomMovie = Math.floor((Math.random()*data.movies.length)+ 1)
      $restaurantName.text(data.searchResult[random].name)
      $dinnerImg.attr('src', data.searchResult[random].image_url )
      $movieTitle.text(data.movies[randomMovie].original_title)
      $movieImg.attr('src', data.movies[randomMovie].poster_image.image_files[0].url)
      $zipInput.hide()
      $randomButton.hide()
>>>>>>> 0417dfef0f00aa58b5c6c330f3a4104d539f7d73
    })
  })


</script>
