<div class="row">
  <div class="container">
      <div class="col-md-12 col-centered main text-center">
        <div class="col-md-6 text-center dinner-div">
          <h2>Dinner</h2>
          <img class="question-img" src="images/question-mark.png" alt="question-mark">
        </div>
        <div class="col-md-6 text-center movie-div">
          <h2>Movie</h2>
          <img class="question-img" src="images/question-mark.png" alt="question-mark">
        </div>
      </div>
  </div>
</div>

<div class="text-center col-md-8 col-md-offset-2">
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>
    <hr>
</div>

<script type="text/javascript">
  var $mainDiv = $('.main')
  var $dinnerDiv = $('.dinner-div')
  var $movieDiv = $('.movie-div')
  var $inputDiv = $('.input-div')
  var $zipInput = $('<input type="text" placeholder="Zip Code" class="zipInput"></input><br>')
  var $randomButton = $('<button class="btn">Random Date</button>')
  // if user clicks on random...
  // var $favoriteThisDinner = $("<span id='faveDinner' class='glyphicon glyphicon-star-empty'></span>")
  // var $favoriteThisMovie = $("<span id='faveMovie' class='glyphicon glyphicon-star-empty'></span>")
  // $dinnerDiv.append($favoriteThisDinner)
  // $movieDiv.append($favoriteThisMovie)
  $mainDiv.append($zipInput) // to get val do $zipInput.val()
  $mainDiv.append($randomButton)

  // To randomize an array
  // $randomButton.on('click', function() {
  //
  // })
</script>
