<style media="screen">
#movie-roulette {
      height: 400px;
      width: 400px;
      border-radius: 100%;
      background-image: url('/images/moviepostersss.jpg');
    }

    #movie {
      width: 400px;
      /*display: none;*/
    }

    #food-roulette {
          height: 400px;
          width: 400px;
          border-radius: 100%;
          background-image: url('/images/foodpostersss.jpg');
        }

        #food {
          width: 400px;
          /*display: none;*/
        }

    .spinning {
      animation-name: spin-animation;
      animation-duration: 1s;
      animation-iteration-count:infinite;
      -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
      animation-timing-function: linear;
    }

    @keyframes spin-animation {
      0% { background-position: center 0px }
      100% { background-position: center -2400px }
    }
</style>


<div class="row">
  <div class="container">
      <div class="col-md-12 col-centered main text-center">
        <div class="col-md-5 col-md-offset-1 text-center dinner-div">
          <h2>Dinner</h2>
          <h3 class="restaurant-name"></h3>
          <div id="food-roulette">
            <img id="food" class="dinner-img" src="/images/question-mark.png" alt="question-mark">
            <!-- <img id="food" src="https://www.lakeridgewinery.com/img/shrimp.jpg"> -->
          </div>

        </div>
        <div class="col-md-5 text-center movie-div">
          <h2>Movie</h2>
          <h3 class="movie-title"></h3>
          <div id="movie-roulette">
            <!-- <img id="movie" src="https://wh1k8zidop.inscname.net/big/524810.jpg?v=1462392691"> -->
            <img id="movie" class="movie-img" src="/images/question-mark.png" alt="question-mark">
          </div>

        </div>
        <select class="foodSelect" name="">
          <option value="american">American</option>
          <option value="thai">Thai</option>
          <option value="pizza">Pizza</option>
          <option value="burger">Burgers</option>
        </select><br>
      </div>
  </div>
</div>


    <!-- this is where the ajax request for movie and food will go. -->




<div class="row">
<div class="text-center col-md-8 col-md-offset-2">
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>
    <hr>
</div>
</div>



<script type="text/javascript">
  var $mainDiv = $('.main')
  var $dinnerDiv = $('.dinner-div')
  var $movieDiv = $('.movie-div')
  var $inputDiv = $('.input-div')
  var $zipInput = $('<input type="text" placeholder="Zip Code" class="zipInput"></input><br>')
  var $randomButton = $('<button class="btn">Random Date</button>')
  var $dinnerImg = $('.dinner-img')
  var $movieImg = $('.movie-img')
  var $restaurantName = $('.restaurant-name')
  var $movieTitle = $('.movie-title')
  // if user clicks on random...
  // var $favoriteThisDinner = $("<span id='faveDinner' class='glyphicon glyphicon-star-empty'></span>")
  // var $favoriteThisMovie = $("<span id='faveMovie' class='glyphicon glyphicon-star-empty'></span>")
  // $dinnerDiv.append($favoriteThisDinner)
  // $movieDiv.append($favoriteThisMovie)
      //vars for the food/movies images.
  var $movieStrip = $('#movie-roulette')
  var $movie = $('#movie')
  var $foodStrip = $('#food-roulette')
  var $food = $('#food')

  // $randomButton.on('click', function() {
  //
  //
  //
  // })

  $mainDiv.append($zipInput) // to get val do $zipInput.val()
  $mainDiv.append($randomButton)


      // var $button = $('.roll')




  $randomButton.on('click', function() {
    $movieStrip.addClass('spinning')
    $movie.hide()
    $foodStrip.addClass('spinning')
    $food.hide()
    // animate
    $.ajax({
      url: '/random?zipCode=' + $zipInput.val()/* + '&foodType='*/
    })
    .done(function(data) {
console.log(data)
      // ajax call begins, get a random movie...
      // in the callback of the ajax call:
      setTimeout(function() {

        var random = Math.floor((Math.random()*data.searchResult.length)+ 1)
        var randomMovie = Math.floor((Math.random()*data.movies.length)+ 1)
        $restaurantName.text(data.searchResult[random].name)
        $dinnerImg.attr('src', data.searchResult[random].image_url )
        $movieTitle.text(data.movies[randomMovie].original_title)
        $movieImg.attr('src', data.movies[randomMovie].poster_image.image_files[0].url)
        $zipInput.hide()
        $randomButton.hide()

        $movieStrip.removeClass('spinning')
        $movie.fadeIn()
        $foodStrip.removeClass('spinning')
        $food.fadeIn()
      }, 2000)

    })
  })

  // To randomize an array
  // $randomButton.on('click', function() {
  //
  // })

</script>
