body {
    padding-top: 50px;
}

/*Homepage*/
.movie-img, .dinner-img {
  height: 400px;
  width: 400px;
  position: relative;
  border-radius: 100%;
  object-fit: cover;
}

.favorited {
  color: yellow;
}

#movie-roulette {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-image: url('/images/moviepostersss.jpg');
}
#movie {
  width: 400px;
  /*display: none;*/
}
#food-roulette {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-image: url('/images/foodpostersss.jpg');
}
#food {
  width: 400px;
  /*display: none;*/
}
.spinning {
  animation-name: spin-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
}
@keyframes spin-animation {
  0% {
    background-position: center 0px
  }
  100% {
    background-position: center -2400px
  }
}

.foodSelect {
  margin: 10px;
}

.zip-input {
  margin: 10px;
}

/*Profile Page*/
.profile-row {
  background-color: #ebf6fa;
  height: 17em;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  float: left;
}

.profile-info {
  margin-left: 40px;
  padding-left: 40px;
}


img{
  border-radius: 100%;
}

/* Favorites */

.favorite-movie, .favorite-dinner {
  height: 100px;
  width: 100px;
  /*position: relative;*/
  border-radius: 100%;
  object-fit: cover;
}

.favorites-list {
  list-style-type: none;
  border: 1px solid  grey;
}

/*.footer{

.footer{
  margin-top: 19%;
  margin-left: 20px;
  height: 10px;
  position: relative;
  z-index: 1;
}*/

.selection{
  text-align: center;
}

.logo{
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  border-radius: 0%;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 5px;
}
/**/
